<p>Shareilm is a platform for scholars and professionals to share their knowledge and skills to the world.</p>

<p>All classes will be online and interactive so we can create an effective online sharing experience.</p>

<p>Shareilm is all about giving back to the community. Part of the proceeds for every class will go to a selected charity!</p>

<p>Come to shareilm and be part of an invaluable learning experience!</p>