<div class="jumbotron">
  <div class="row-fluid">
    <div class="span4"><%= image_tag("bryan_thomas.jpg") %></div>
    <div class="span12">
      <h1>Bryan Thomas</h1>
      <p class="lead">"Get in shape like me."</p>
      <h2>Wed, June 19th, 2013</h2>
      <h2>7:00pm Eastern Time</h2>
      <br>
      <% if !current_user %>
        <%= link_to 'Sign up today!', new_user_path , class: "btn btn-success", style: "color:white" %>
      <% elsif current_user && current_user.attending?(@event) %>
        <%= link_to 'Go to the event', @event , class: "btn btn-success", style: "color:white" %>
      <% elsif current_user %>
        <%= link_to 'Join the event', new_event_charge_path(@event) , class: "btn btn-success", style: "color:white" %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span12">

  </div>
</div>