<div class="jumbotron">
  <h1>Bilal Menon</h1>
  <h2>Tuesday, June 4th, 2013</h2>
  <h2>7:00pm Eastern Time</h2>
  <p class="lead">We can put the speaker's credentials here.</p>
  <% if !current_user %>
    <%= link_to 'Sign up today!', new_user_path , class: "btn btn-success", style: "color:white" %>
  <% end %>
  <% if current_user %>
    <%= link_to 'Join the event', new_event_charge_path(@event) , class: "btn btn-success", style: "color:white" %>
  <% end %>
</div>

<hr>

<div class="row-fluid">
  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>
