<p>Hi <%= @user.first_name %></p>

<p>Thank you for signing up on Shareilm.com.</p>

<p>Rafi-uddin Shikoh will be presenting his class, 'The Business Landscape of Muslim Member Countries' on Tuesday, July 9th 2013.</p>

<p>The class starts at 7:00pm Eastern Time, and will end at approximately 8:30pm.</p>

<p><%= link_to 'You can register for the class here!', @event %></p>

<p>Feedback on the site and on the talk is greatly appreciated.</p>

<p>Thank you again, and welcome to <%= link_to 'Shareilm.com', root_path %>.</p>
<p>The Shareilm Team</p>
