<footer>
  <div class="footer">
    <p class="pull-right"><a href="/about">About</a> | <a href="/terms">Terms</a> | <a href="/contact">Contact</a></p>
    <p>&copy; Shareilm 2013</p>
  </div>
</footer>